<div class='span4'>
	<div style="padding: 15px">
		<h2>Списки</h2>
	</div>
	<nav class="sidebar light">
		<ul>
			<li class="title">Блокируемые</li>
			<li> <a href='/lists/http.load'>Блокируемые URL</a> </li>
			<li> <a href='/lists/ip.load'>Блокируемые IP (https)</a> </li>
			<li> <a href='/lists/minjust.list'>Список минюста</a> </li>
			<li class="title">Дополнительные</li>
			<li> <a href='/lists/our.list'>Список провайдера (URL)</a> </li>
			<li> <a href='/lists/our.iplist'>Список провайдера (IP)</a> </li>
			<li class="title">Белые</li>
			<li> <a href='/lists/our.whitelist'>Белый список провайдера (URL)</a> </li>
			<li> <a href='/lists/our.whiteiplist'>Белый список провайдера (IP)</a> </li>
			<li class="title">Сработавшие белые</li>
			<li> <a href='/lists/http_full.noload.entries'>Незагруженные URL</a> </li>
			<li> <a href='/lists/ip.noload'>Неблокируемые IP</a> </li>
		</ul>
	</nav>
</div>
