<nav class="navigation-bar dark">
	<nav class="navigation-bar-content">
		<a class="element" href='/'><b><i class='icon-home'></i> Carbon Reductor ( версия {{env.version}})</b></a>
		<item class="element-divider"></item>
		<a class="element" href='/graphics'><i class='icon-pie'></i> Графики</a>
		<a class="element" href='/lists/http.load'><i class='icon-list'></i> Списки</a>
		<a class="element" href='/info'><i class='icon-info'></i> Информация</a>
		<a class="element place-right" href='https://twitter.com/carbon_reductor'><i class='icon-twitter'></i> Twitter</a>
		<item class="element-divider place-right"></item>
		<item class="element place-right">Список РКН от: {{env.rkndate}}</item>
	</nav>
</nav>
