<nav class="navigation-bar dark">
	<nav class="navigation-bar-content">
		<a class="element" href='/'><b><i class='icon-home'></i> Weirded Lastfm Utils</b></a>
		<item class="element-divider"></item>
		<a class="element" href='/people'><i class='icon-accessibility'></i> Совместимость между двумя пользователями</a>
		<item class="element-divider"></item>
		<a class="element place-right" href='https://twitter.com/naka-team'><i class='icon-twitter'></i> Мы в twitter</a>
		<item class="element-divider place-right"></item>
	</nav>
</nav>
