{% extends "default.html" %}

{% block content %}
<form class="input-control text span5" action="people">
    <input name="user1" style="margin: 10px;" type="text" placeholder="Первый пользователь"/>
    <input name="user2" style="margin: 10px;" type="text" placeholder="Второй пользователь"/>
    <button style="margin: 10px; width: 100%; height: 35px;">Сравнить!</button>
</form>
<div class="span1">
</div>
<div class="span5">
<p>Этот сервис предоставляет возможность полного сравнения двух музыкальных профилей на last.fm.</p>
<p>Введя два имени пользователя вы получите отсортированный в двух порядках список пересечения групп: первый порядок отсортирован по количеству прослушиваний первого пользователя, второй, соответственно по прослушиваниям второго</p>
</div>
{% endblock %}
